body{
	margin: 50 absolute;
	background-color: skyblue;
	margin-top: 150px;
}

h1{
	text-align: center;
	font-size: 75px;
	color: blue;
}

form{
	width: 500px;
	height: 400px; 
	text-align: center; 
	border-radius: 5px;
	margin: 0 auto; 
}

input{
	
	height: 45px;
	width: 300px; 
	font-size: 20px;
	margin-bottom: 0px;
	padding-left: 30px;
}
